

/* -------------共用 */

.container{
    width: 90%;
}

header .logo{
    display: block;
    margin: 0px auto 35px;
}

header form{
    display: block;
}

.rl-name, .rl-info, .rl-date{
    float: none;
}

.rl-name{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.rl-info{
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
}

.rl-date{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.rl-info li{
    margin: 0 8px 8px;
}

ul.records{
    overflow: hidden;
}

ul.records >.records-list{
    width: 48%;
    float: left;
    margin: 0 1% 20px;
}

ul.records >li.border-style1{
    border-left: solid 5px #86D73F;
}
ul.records >li.border-style2{
    border-left: solid 5px #31BAF9;
}
ul.records >li.border-style3{
    border-left: solid 5px #FF982D;
}
ul.records >li.border-style4{
    border-left: solid 5px #FF6C02;
}
ul.records >li.border-style5{
    border-left: solid 5px #FF6C02;
}
ul.records >li.border-style6{
    border-left: solid 5px #FF1200;
}


/* media 720 */
@media screen and (min-width: 320px) and (max-width: 720px) {

    .wrap{
        width: 94%;
    }

    .body-info{
        display: block;
        width: 270px;
        margin: 0 auto;
    }
    .calc-btn{
        display: block;
        margin: 5px auto;
    }
    .body-info input{
        height: 32px;
        padding:  0 12px;
        font-size: 20px;
    }

    ul.records >.records-list{
        width: 100%;
        float: none;
    }
}


/* ------------index */